body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

#search-form{
    background-color: rgb(98, 43, 226);
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 0px;
    width: 100%;
}

.search-form input{
    color: #f0f8ff;
    background-color: #4920a7;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    padding: 5px;
}


.search-form button{
    color: #f0f8ff;
    background-color: #4920a7;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    width: 100px;
    height: 30px;
    padding: 5px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
   
}

.gallery a {
text-decoration: none;
color: black;
}

.photo-card{
    width: 300px;
    margin-bottom: 10px;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 1px rgba(0,0,0,.14), 0 2px 1px rgba(0,0,0,.2);
}

.photo-card img{
    width: 300px;
    height: 200px;
}
.info{
    
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.info-item{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
    margin-top: 5px;

}

.load-more{
    color: #f0f8ff;
    background-color: #4920a7;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 20px;
    display: none;
}